@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(24, 24, 110, 1) 43%,
    rgba(23, 31, 115, 1) 60%,
    rgba(0, 212, 255, 1) 100%
  );
}

header span {
  color: aliceblue;
  font-weight: 700;
  font-size: 4em;
  font-family: "Nunito", sans-serif;
}
